<app-story
  [from]="-0.5"
  [to]="0.2"
  desktopHorizontal="right"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="center"
  desktopEnter="bottom"
  desktopLeave="right"
  [desktopOffsetX]="0"
  [desktopOffsetY]="0"
  [desktopWidth]="560"
  [desktopScale]="1"

  tabletHorizontal="right"
  tabletVertical="top"
  tabletPivot="center"
  tabletTextAlign="right"
  tabletEnter="right"
  tabletLeave="right"
  [tabletOffsetX]="-100"
  [tabletOffsetY]="-50"
  [tabletWidth]="420"
  [tabletScale]="0.85"

  mobileHorizontal="right"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="right"
  mobileEnter="right"
  mobileLeave="right"
  [mobileOffsetX]="-50"
  [mobileOffsetY]="10"
  [mobileWidth]="320"
  [mobileScale]="0.5"

  [fadeIn]="0.1"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="300"
>
  <h1>ENERGY ELEVATED</h1>
  <h2>Performance begins here</h2>
</app-story>


<app-story
  [from]="-0.5"
  [to]="0.2"
  desktopHorizontal="left"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="center"
  desktopEnter="bottom"
  desktopLeave="left"
  [desktopOffsetX]="0"
  [desktopOffsetY]="0"
  [desktopWidth]="560"
  [desktopScale]="1"

  tabletHorizontal="left"
  tabletVertical="top"
  tabletPivot="center"
  tabletTextAlign="left"
  tabletEnter="left"
  tabletLeave="left"
  [tabletOffsetX]="100"
  [tabletOffsetY]="-50"
  [tabletWidth]="420"
  [tabletScale]="0.85"

  mobileHorizontal="left"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="left"
  mobileLeave="left"
  [mobileOffsetX]="50"
  [mobileOffsetY]="10"
  [mobileWidth]="320"
  [mobileScale]="0.5"

  [fadeIn]="0.1"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="300"
>
  <h1>BEYOND ORDINARY</h1>
  <h2>Energy without excess</h2>
</app-story>


<app-story
  [from]="-0.5"
  [to]="0.25"
  desktopHorizontal="center"
  desktopVertical="bottom"
  desktopPivot="center"
  desktopTextAlign="center"
  desktopEnter="bottom"
  desktopLeave="bottom"
  [desktopOffsetX]="0"
  [desktopOffsetY]="176"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="left"
  tabletLeave="bottom"
  [tabletOffsetX]="0"
  [tabletOffsetY]="100"
  [tabletWidth]="600"
  [tabletScale]="0.85"

  mobileHorizontal="center"
  mobileVertical="bottom"
  mobilePivot="center"
  mobileTextAlign="center"
  mobileEnter="bottom"
  mobileLeave="bottom"
  [mobileOffsetX]="0"
  [mobileOffsetY]="75"
  [mobileWidth]="420"
  [mobileScale]="0.7"

  [fadeIn]="0.1"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="hero_bottom_text">
  <h1>THE ULTIMATE FORM OF SELF-RESPECT</h1>
  <br />

  <h2>Fuel your ambition</h2>
  <h2>Not your addiction</h2>
  </div>
</app-story>


<app-story
  [from]="0.37"
  [to]="0.6"
  desktopHorizontal="right"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="right"
  desktopEnter="right"
  desktopLeave="right"
  [desktopOffsetX]="-176"
  [desktopOffsetY]="-176"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="right"
  tabletVertical="top"
  tabletPivot="center"
  tabletTextAlign="right"
  tabletEnter="right"
  tabletLeave="right"
  [tabletOffsetX]="-100"
  [tabletOffsetY]="0"
  [tabletWidth]="420"
  [tabletScale]="0.85"

  mobileHorizontal="right"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="right"
  mobileEnter="right"
  mobileLeave="right"
  [mobileOffsetX]="-60"
  [mobileOffsetY]="40"
  [mobileWidth]="320"
  [mobileScale]="0.65"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
  
><div class="hero_left_right_text">
    <h1>ENERGY WITH PRESENCE</h1>
    <br />
    <h2>A refined balance of intensity</h2>
    <h2>clarity and effortless elegance</h2>
  </div>
</app-story>


<app-story
  [from]="0.37"
  [to]="0.6"
  desktopHorizontal="left"
  desktopVertical="bottom"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="left"
  desktopLeave="left"
  [desktopOffsetX]="176"
  [desktopOffsetY]="-176"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="left"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="left"
  tabletEnter="left"
  tabletLeave="left"
  [tabletOffsetX]="100"
  [tabletOffsetY]="0"
  [tabletWidth]="420"
  [tabletScale]="0.85"

  mobileHorizontal="left"
  mobileVertical="bottom"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="left"
  mobileLeave="left"
  [mobileOffsetX]="60"
  [mobileOffsetY]="40"
  [mobileWidth]="320"
  [mobileScale]="0.65"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
  
>
<div class="hero_left_right_text">
  <h1>NOT JUST ENERGY</h1>
  <br />
  <h2>A modern ritual for those</h2>
  <h2>who choose their own rhythm</h2>
  </div>
</app-story>


<app-story
  [from]="0.6"
  [to]="0.8"
  desktopHorizontal="center"
  desktopVertical="top"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="right"
  desktopLeave="bottom"
  [desktopOffsetX]="352"
  [desktopOffsetY]="-25"
  [desktopWidth]="720"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="top"
  tabletPivot="center"
  tabletTextAlign="left"
  tabletEnter="right"
  tabletLeave="bottom"
  [tabletOffsetX]="100"
  [tabletOffsetY]="-25"
  [tabletWidth]="420"
  [tabletScale]="1"

  mobileHorizontal="center"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="right"
  mobileLeave="left"
  [mobileOffsetX]="-15"
  [mobileOffsetY]="-75"
  [mobileWidth]="600"
  [mobileScale]="0"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="luxury_intro">
    <div class="luxury_eyebrow">
      AMASIA
    </div>

    <h1 class="luxury_title">
      ENERGY
    </h1>
    <br>

    <h1 class="luxury_title">
      DISTINCT
    </h1>
    <br>

    <h1 class="luxury_title">
      CHARACTER
    </h1>

    <div class="luxury_keywords">
      <span>PRECISION</span>
      <span>•</span>
      <span>PRESENCE</span>
      <span>•</span>
      <span>TASTE</span>
    </div>

    <div class="luxury_line"></div>
  </div>
</app-story>

<app-story
  [from]="0.6"
  [to]="0.8"
  desktopHorizontal="center"
  desktopVertical="top"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="right"
  desktopLeave="bottom"
  [desktopOffsetX]="352"
  [desktopOffsetY]="-25"
  [desktopWidth]="720"
  [desktopScale]="0"

  tabletHorizontal="center"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="left"
  tabletLeave="bottom"
  [tabletOffsetX]="0"
  [tabletOffsetY]="80"
  [tabletWidth]="600"
  [tabletScale]="0"

  mobileHorizontal="center"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="right"
  mobileLeave="left"
  [mobileOffsetX]="-30"
  [mobileOffsetY]="-60"
  [mobileWidth]="600"
  [mobileScale]="0.5"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="luxury_intro">

    <h1 class="luxury_title">
      ENERGY
    </h1>
    <br>

    <h1 class="luxury_title">
      DISTINCT
    </h1>
    <br>

    <h1 class="luxury_title">
      CHARACTER
    </h1>
  </div>
</app-story>


<app-story
  [from]="0.6"
  [to]="0.8"
  desktopHorizontal="center"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="right"
  desktopLeave="bottom"
  [desktopOffsetX]="352"
  [desktopOffsetY]="25"
  [desktopWidth]="720"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="left"
  tabletEnter="right"
  tabletLeave="bottom"
  [tabletOffsetX]="100"
  [tabletOffsetY]="-350"
  [tabletWidth]="420"
  [tabletScale]="1"


  mobileHorizontal="right"
  mobileVertical="center"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="right"
  mobileLeave="right"
  [mobileOffsetX]="-120"
  [mobileOffsetY]="-100"
  [mobileWidth]="300"
  [mobileScale]=".8"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="luxury_intro">

    <br><h2 class="luxury_claim">
      A different expression
      of energy
    </h2><br><br>

<br><p class="luxury_description">
  AMASIA is crafted for those who value themselves and the moments they choose.
  Refined taste, distinctive character and effortless sophistication come together
  in a drink that elevates every occasion.<br><br> It gives you presence without excess,
  confidence without noise, and a sense of indulgence that feels entirely your own.
  <br>
  Because true luxury is not about showing more.<br>It is about expecting more.
</p>

  </div>
</app-story>


<app-story
  [from]="0.6"
  [to]="0.8"
  desktopHorizontal="center"
  desktopVertical="bottom"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="right"
  desktopLeave="bottom"
  [desktopOffsetX]="352"
  [desktopOffsetY]="0"
  [desktopWidth]="720"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="left"
  tabletEnter="right"
  tabletLeave="bottom"
  [tabletOffsetX]="100"
  [tabletOffsetY]="0"
  [tabletWidth]="420"
  [tabletScale]="1"


  mobileHorizontal="center"
  mobileVertical="bottom"
  mobilePivot="center"
  mobileTextAlign="left"
  mobileEnter="right"
  mobileLeave="left"
  [mobileOffsetX]="135"
  [mobileOffsetY]="25"
  [mobileWidth]="600"
  [mobileScale]="1"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="luxury_intro">

    <div class="luxury_footer">
      <span>DESIGNED FOR THE MOMENT</span>
      <span>MADE TO BE REMEMBERED</span>
    </div>
  </div>
</app-story>



<app-story
  [from]="0.9"
  [to]="1.2"
  [interactionStart]="0.3"
  desktopHorizontal="left"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="center"
  desktopEnter="bottom"
  desktopLeave="left"
  [desktopOffsetX]="256"
  [desktopOffsetY]="0"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="left"
  tabletVertical="center"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="left"
  tabletLeave="left"
  [tabletOffsetX]="10"
  [tabletOffsetY]="40"
  [tabletWidth]="420"
  [tabletScale]="0.6"

  mobileHorizontal="left"
  mobileVertical="center"
  mobilePivot="center"
  mobileTextAlign="center"
  mobileEnter="left"
  mobileLeave="left"
  [mobileOffsetX]="10"
  [mobileOffsetY]="40"
  [mobileWidth]="320"
  [mobileScale]="0.4"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="button_section">
    <h1>Choose your flavor</h1>

    <br /><br />

    <h2>Main Flavors</h2>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('keylime')"
    >
      KEYLIME
    </button>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('akebi')"
    >
      AKEBI
    </button>

    <br /><br /><br />

    <h2>Premium Flavors</h2>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('coconut')"
    >
      COCONUT
    </button>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('lychee')"
    >
      LYCHEE
    </button>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('pandan')"
    >
      PANDAN
    </button>

    <br /><br /><br />

    <h2>SIGNATURE VIP</h2>

    <br />

    <button
      class="button button_for_Story"
      (click)="selectFlavor('black-edition')"
    >
      BLACK EDITION
    </button>
  </div>
</app-story>


<app-story
  [from]="0.9"
  [to]="1.2"
  desktopHorizontal="right"
  desktopVertical="center"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="bottom"
  desktopLeave="left"
  [desktopOffsetX]="-156"
  [desktopOffsetY]="0"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="right"
  tabletVertical="center"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="right"
  tabletLeave="right"
  [tabletOffsetX]="-20"
  [tabletOffsetY]="-250"
  [tabletWidth]="280"
  [tabletScale]="0.8"

  mobileHorizontal="right"
  mobileVertical="center"
  mobilePivot="center"
  mobileTextAlign="center"
  mobileEnter="right"
  mobileLeave="right"
  [mobileOffsetX]="-10"
  [mobileOffsetY]="-150"
  [mobileWidth]="180"
  [mobileScale]="0.65"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  <div class="flavor_content">
    @for (flavor of flavors; track flavor.id) {
      @if (flavor.id === selectedFlavor().id) {
        <div class="flavor_content description_content">
          <br><br>
          <h2>About the flavor</h2>
          <br>

          <p class="description_text">
            {{ flavor.description }}
          <p>
        </div>
      }
    }
  </div>
</app-story>


<app-story
  [from]="0.9"
  [to]="1.2"
  desktopHorizontal="right"
  desktopVertical="top"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="bottom"
  desktopLeave="left"
  [desktopOffsetX]="-156"
  [desktopOffsetY]="256"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="bottom"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="bottom"
  tabletLeave="bottom"
  [tabletOffsetX]="0"
  [tabletOffsetY]="130"
  [tabletWidth]="600"
  [tabletScale]="1"

  mobileHorizontal="center"
  mobileVertical="bottom"
  mobilePivot="center"
  mobileTextAlign="center"
  mobileEnter="bottom"
  mobileLeave="bottom"
  [mobileOffsetX]="0"
  [mobileOffsetY]="80"
  [mobileWidth]="320"
  [mobileScale]="0.9"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  @for (flavor of flavors; track flavor.id) {
    @if (flavor.id === selectedFlavor().id) {
      <div class="flavor_content">
        <h1>{{ formatPrice(flavor.price) }}</h1>
      </div>
    }
  }
</app-story>


<app-story
  [from]="0.9"
  [to]="1.2"
  desktopHorizontal="right"
  desktopVertical="top"
  desktopPivot="center"
  desktopTextAlign="left"
  desktopEnter="bottom"
  desktopLeave="left"
  [desktopOffsetX]="-156"
  [desktopOffsetY]="296"
  [desktopWidth]="800"
  [desktopScale]="1"

  tabletHorizontal="center"
  tabletVertical="top"
  tabletPivot="center"
  tabletTextAlign="center"
  tabletEnter="top"
  tabletLeave="bottom"
  [tabletOffsetX]="0"
  [tabletOffsetY]="-50"
  [tabletWidth]="600"
  [tabletScale]="0.85"

  mobileHorizontal="center"
  mobileVertical="top"
  mobilePivot="center"
  mobileTextAlign="center"
  mobileEnter="top"
  mobileLeave="top"
  [mobileOffsetX]="0"
  [mobileOffsetY]="0"
  [mobileWidth]="320"
  [mobileScale]="0.9"

  [fadeIn]="0.3"
  [fadeOut]="0.3"
  [opacity]="1"
  [distance]="250"
>
  @for (flavor of flavors; track flavor.id) {
    @if (flavor.id === selectedFlavor().id) {
      <div class="flavor_content">
        <h1>{{ flavor.name }}</h1>
      </div>
    }
  }
</app-story>